My workflow (10).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://djmkzsxsfwyrqmhcgsyx.supabase.co/functions/v1/handle-video-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbWt6c3hzZnd5cnFtaGNnc3l4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDcxODUzMCwiZXhwIjoyMDY2Mjk0NTMwfQ.b2t4HNLXc8DY1GudZ-XN00SarvEq8bMAcScvEXnQnLI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phase\": \"approval\", \n  \"execution_id\": \"n8n-{{ $now.format('x') }}\",\n  \"video_url\": \"{{ $('Log Final Video1').item.json.final_output }}\",\n  \"caption\": \"{{ $json.output.youtube.description }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        1408
      ],
      "id": "41c5e4a8-ebb8-4f57-80a6-4eb7a8a789f7",
      "name": "Send for Approval1",
      "retryOnFail": true,
      "waitBetweenTries": 300,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate optimized titles and descriptions for social media platforms based on the video content",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role**: You are a social media content optimization AI that creates platform-specific titles and descriptions for viral video content.\n\n**Task**: Generate optimized titles and descriptions for YouTube Shorts, TikTok, and Instagram Reels based on the provided video content.\n\n**Input Data**:\n- Video Idea: \"{{ $('Log the Idea1').first().json.idea }}\"\n- Caption: \"{{ $('Log the Idea1').first().json.caption }}\"\n- Environment: \"{{ $('Log the Idea1').first().json.environment_prompt }}\"\n\n**Requirements**:\n\n**YouTube Shorts**:\n- Title: 60 characters max, attention-grabbing, includes trending keywords\n- Description: 125 characters max, includes 3-5 relevant hashtags, call-to-action\n\n**TikTok**:\n- Title: 150 characters max, trendy language, includes viral phrases\n- Description: 300 characters max, includes 5-8 hashtags, engaging questions\n\n**Instagram Reels**:\n- Title: 125 characters max, aesthetic and engaging\n- Description: 200 characters max, includes 5-7 hashtags, story-driven\n\n**Output Format** (JSON):\n```json\n{\n  \"youtube\": {\n    \"title\": \"Short catchy title\",\n    \"description\": \"Brief description with hashtags #viral #shorts\"\n  },\n  \"tiktok\": {\n    \"title\": \"Trendy engaging title\",\n    \"description\": \"Longer description with hashtags and questions #fyp #viral\"\n  },\n  \"instagram\": {\n    \"title\": \"Aesthetic title\",\n    \"description\": \"Story-driven description #reels #satisfying\"\n  }\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1360,
        1408
      ],
      "id": "0ef96cec-30e5-47e9-9af4-f3f7e9b2b468",
      "name": "Generate Titles & Descriptions2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"youtube\": {\n    \"title\": \"Amazing Glass Cutting ASMR ✨\",\n    \"description\": \"Satisfying glass cutting sounds that will relax you #shorts #asmr #satisfying #viral #relax\"\n  },\n  \"tiktok\": {\n    \"title\": \"This glass cutting sound hits different 🔥\",\n    \"description\": \"POV: You found the most satisfying sound ever 😍 What's your favorite ASMR sound? #fyp #asmr #satisfying #viral #glasscut #oddlysatisfying #relaxing #trending\"\n  },\n  \"instagram\": {\n    \"title\": \"Glass cutting therapy ✨\",\n    \"description\": \"Sometimes you need those perfect cutting sounds to reset your mind 🧘‍♀️ #reels #asmr #satisfying #mindful #therapy\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1136,
        1616
      ],
      "id": "58c3c87d-ae9e-4873-ac36-a124cc76c492",
      "name": "Title Description Parser2"
    },
    {
      "parameters": {
        "fromEmail": "mathew.kasbarian@gmail.com",
        "toEmail": "={{ $('Main Webhook').first().json.body.user_email }}",
        "subject": "=Your video \"{{ $('Main Webhook').first().json.body.video_idea }}\" is ready for approval",
        "html": "=<!DOCTYPE html>\n<html>\n  <body>\n    <p>Hi there!</p>\n\n    <p>Your video has been processed and is ready for your approval.</p>\n\n    <p>Please review and approve your video.</p>\n\n    <p>Best regards,<br>\n    ClipAndShip Team</p>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -480,
        1392
      ],
      "id": "087c1e74-bb72-4ce4-8cf8-225649cc5cd9",
      "name": "Send email",
      "webhookId": "368efac9-f03e-4ff8-b8c7-b8b9eedd7df5",
      "credentials": {
        "smtp": {
          "id": "OeGPKAzjt6GagySO",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-generation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2656,
        288
      ],
      "id": "09fd5dbc-777c-4143-89f4-c6e6ae69e2b1",
      "name": "Main Webhook",
      "webhookId": "9a1ec0db-1b93-4c5e-928f-a003ece93ba9"
    },
    {
      "parameters": {
        "jsCode": "function findSceneEntries(obj) {\n  const scenes = [];\n\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase().startsWith(\"scene\") && typeof value === \"string\") {\n      scenes.push(value);\n    } else if (typeof value === \"object\" && value !== null) {\n      scenes.push(...findSceneEntries(value));\n    }\n  }\n\n  return scenes;\n}\n\nlet output = [];\n\ntry {\n  const inputData = items[0].json;\n  const scenes = findSceneEntries(inputData);\n\n  if (scenes.length === 0) {\n    throw new Error(\"No scene keys found at any level.\");\n  }\n\n  output = scenes.map(scene => ({ description: scene }));\n} catch (e) {\n  throw new Error(\"Could not extract scenes properly. Details: \" + e.message);\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        1136
      ],
      "id": "d507aef0-98e2-4592-a854-02b65ebd9820",
      "name": "Unbundle Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/mmaudio-v2 ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {\n        \"prompt\": \"Sound effects. {{ $('Prompts AI Agent').item.json.output.Sound }}\",\n        \"duration\": 10,\n        \"video_url\": \"{{ $json.data.outputs[0] }}\"\n  }\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        1280
      ],
      "id": "1426549e-0fb7-441e-83be-edd904cebfca",
      "name": "Create Sounds",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4PLDRTPqGflG10bP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/mmaudio-v2/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        1280
      ],
      "id": "e279e996-ce82-4041-9076-59dabbae85e2",
      "name": "Get Sounds",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4PLDRTPqGflG10bP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        1280
      ],
      "id": "0580e227-50f1-41e2-8a80-dd00cd0c82e2",
      "name": "Wait for Sounds",
      "webhookId": "e8f621a2-912d-43ad-ac67-0f135a441870"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1776,
        848
      ],
      "id": "01578093-e75d-44f4-8c1e-9bf8ff6ec5c2",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me an idea about \n\n[[\n{{ $json.body.video_idea }}\n]]\n\nUse the Think tool to review your output {{ $json.body.video_idea }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role**: You are an AI designed to generate 1 immersive, realistic idea based on a user-provided topic. Your output must be formatted as a JSON array (single line) and follow all the rules below exactly.\n\n***\nRULES:\n\nOnly return 1 idea at a time.\n\nThe user will provide a key topic \n\nThe Idea must:\n\nBe under 13 words.\n\nDescribe an interesting and viral-worthy moment, action, or event related to the provided topic.\n\nCan be as surreal as you can get, doesn't have to be real-world!\n\nThe Caption must be:\n\nShort, punchy, and viral-friendly.\n\nInclude one relevant emoji.\n\nInclude exactly 12 hashtags in this order:\n** 4 topic-relevant hashtags\n** 4 all-time most popular hashtags\n** 4 currently trending hashtags (based on live research)\n\nAll hashtags must be lowercase.\n\nSet Status to \"for production\" (always).\n\nThe Environment must:\n\nMatch the action in the Idea exactly.\n\nClearly describe:\n\nWhere the event is happening\n\nKey visuals or background details\n\nStyle of scene\n\nOk with fictional settings.\n\nThe Sound must:\n\nBe under 15 words.\n\nDescribe the primary sound that makes sense to happen in the video. This will be fed to a sound model later on.\n\n\n***\nOUTPUT FORMAT (single-line JSON array):\n\n[\n  {\n    \"Caption\": \"Short viral title with emoji #4_topic_hashtags #4_all_time_popular_hashtags #4_trending_hashtags\",\n    \"Idea\": \"Short idea under 13 words\",\n    \"Environment\": \"Brief vivid setting under 20 words matching the action\",\n    \"Sound\": \"Primary sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2400,
        992
      ],
      "id": "a002a2d8-5222-4fe7-a96f-bffd068f8d5d",
      "name": "Ideas AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2432,
        848
      ],
      "id": "b8d2377c-8d71-41cb-b3be-d188ff2a614d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eodMC5mps1FBzOlv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me 3 video prompts based on the previous idea\n\nUse the Think tool to review your output",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role: You are a prompt-generation AI specializing in video prompts. Your task is to generate a multi-scene video sequence that vividly shows a high-detail setting.\n\nYour writing must follow this style:\n\nSharp, precise cinematic realism.\n\nMacro-level detail with tight focus on the object interacting with other objects.\n\nThe objects must always be in motion — Never idle or static.\n\nCamera terms are allowed (e.g. macro view, tight angle).\n\nEach scene must contain all of the following, expressed through detailed visual language:\n\n✅ The main object or subject (from the Idea)\n\n✅ The environment or surface (from the Environment)\n\nDescriptions should show:\n\n\nTone:\n\nClean, clinical, visual.\n\nNo poetic metaphors, emotion, or storytelling.\n\nAvoid fantasy or surreal imagery.\n\nAll description must feel physically grounded and logically accurate.\n\nLength:\n\nEach scene must be between 1,000 and 2,000 characters.\n\nNo shallow or repetitive scenes — each must be immersive, descriptive, and specific.\n\nEach scene should explore a distinct phase of the cutting process, a different camera perspective\nInputs:\n\nIdea: \"{{ $json.idea }}\"\nEnvironment: \"{{ $json.environment_prompt }}\"\nSound: \"{{ $json.sound_prompt }}\"\n\nFormat:\n\nIdea: \"...\"\nEnvironment: \"...\"\nSound: \"...\"\n\nScene 1: \"...\"\nScene 2: \"...\"\nScene 3: \"...\"\nScene 4: \"...\"\nScene 5: \"...\"\nScene 6: \"...\"\nScene 7: \"...\"\nScene 8: \"...\"\nScene 9: \"...\"\nScene 10: \"...\"\nScene 11: \"...\"\nScene 12: \"...\"\nScene 13: \"...\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2000,
        992
      ],
      "id": "0b09f581-0170-4507-a0aa-5e987fc37762",
      "name": "Prompts AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Sound\": \"Primary sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1952,
        832
      ],
      "id": "cbc07b5d-8fe9-4fc8-87d3-10848c50b3b2",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Idea\": \"An obsidian rock being sliced with a shimmering knife\",\n  \"Environment\": \"Clean studio table, subtle light reflections\",\n  \"Sound\": \"Crisp slicing, deep grinding, and delicate crumbling\",\n  \"Scene 1\": \"Extreme macro shot: a razor-sharp, polished knife blade presses into the dark, granular surface of an obsidian rock, just beginning to indent.\",\n  \"Scene 2\": \"Close-up: fine, iridescent dust particles erupt from the point of contact as the blade cuts deeper into the obsidian, catching the studio light.\",\n  \"Scene 3\": \"Mid-shot: the knife, held perfectly steady, has formed a shallow, clean groove across the obsidian's shimmering surface, revealing a new, smooth texture.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2272,
        832
      ],
      "id": "e4aea966-44dd-49ad-bf1f-e6e5d19a7b83",
      "name": "Parser2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/bytedance/seedance-v1-pro-t2v-480p",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"aspect_ratio\": \"9:16\",\n  \"duration\": 10,\n  \"prompt\": \"VIDEO THEME: {{ $('Prompts AI Agent').item.json.output.Idea }} | WHAT HAPPENS IN THE VIDEO: {{ $json.description }} | WHERE THE VIDEO IS SHOT: {{ $('Prompts AI Agent').item.json.output.Environment }}\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        1136
      ],
      "id": "6b92a836-76b6-4b2b-af99-8bb185238947",
      "name": "Create Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R2GeZONkBYGvkkWo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 240
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        1136
      ],
      "id": "b0592c03-2e4a-419f-9dd3-4a03a8c70608",
      "name": "Wait for Clips",
      "webhookId": "3ef8e370-50cf-489e-8775-bf502ce60a26"
    },
    {
      "parameters": {
        "url": "=https://api.wavespeed.ai/api/v3/predictions/{{ $json.data.id }}/result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        1136
      ],
      "id": "58bc056c-05aa-4207-8e3e-45d9e7f85f8c",
      "name": "Get Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R2GeZONkBYGvkkWo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    video_urls: items.map(item => item.json.video.url)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        1408
      ],
      "id": "c44e88ea-a017-4f66-9e97-4eb9697b32bf",
      "name": "List Elements1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        { \"url\": \"{{ $json.video_urls[0] }}\", \"timestamp\": 0, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[1] }}\", \"timestamp\": 10, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[2] }}\", \"timestamp\": 20, \"duration\": 10 }\n      ]\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        1408
      ],
      "id": "b5ef2db1-38a6-4d3f-8f75-6cc94d372eeb",
      "name": "Sequence Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4PLDRTPqGflG10bP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        1408
      ],
      "id": "af78176a-90db-42fc-bac7-0894793a5be8",
      "name": "Get Final Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4PLDRTPqGflG10bP",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        1408
      ],
      "id": "07b55059-7695-4143-a208-4d45aa62c774",
      "name": "Wait for Final Video1",
      "webhookId": "4d45095b-ac57-450c-a05c-0fba53294131"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII",
          "mode": "list",
          "cachedResultName": "Youtube Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ready": "Yes",
            "final_output": "={{ $json.video_url }}",
            "production": "Done",
            "row_number": 0,
            "id": "={{ $('Log the Idea1').all()[0].json.id }}",
            "idea": "={{ $('Log the Idea1').first().json.idea }}"
          },
          "matchingColumns": [
            "idea"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ready",
              "displayName": "Ready",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1632,
        1408
      ],
      "id": "7276d4fc-eeb6-4fb7-aac9-31a58b0abd75",
      "name": "Log Final Video1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nXxJH0S9Zc7M0SRv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII",
          "mode": "list",
          "cachedResultName": "Youtube Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "idea": "={{ $json.output[0].Idea }}",
            "production": "={{ $json.output[0].Status }}",
            "environment_prompt": "={{ $json.output[0].Environment }}",
            "sound_prompt": "={{ $json.output[0].Sound }}",
            "caption": "={{ $json.output[0].Caption }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ready",
              "displayName": "Ready",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2112,
        992
      ],
      "id": "a604e8eb-9e74-4938-9444-b5cf0fe96e77",
      "name": "Log the Idea1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nXxJH0S9Zc7M0SRv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII",
          "mode": "list",
          "cachedResultName": "Youtube Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "final_output": "=https://v3.fal.media/files/rabbit/HvXfHTwiNdo4_U4EqeplZ_output.mp4",
            "row_number": 0,
            "id": "=",
            "idea": "="
          },
          "matchingColumns": [
            "final_output"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ready",
              "displayName": "Ready",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2352,
        352
      ],
      "id": "f35f26c5-9e16-4425-a749-070c5986e8f5",
      "name": "Log Final Video",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nXxJH0S9Zc7M0SRv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://djmkzsxsfwyrqmhcgsyx.supabase.co/functions/v1/handle-video-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqbWt6c3hzZnd5cnFtaGNnc3l4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDcxODUzMCwiZXhwIjoyMDY2Mjk0NTMwfQ.b2t4HNLXc8DY1GudZ-XN00SarvEq8bMAcScvEXnQnLI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phase\": \"approval\", \n  \"execution_id\": \"n8n-{{ $now.format('x') }}\",\n  \"video_url\": \"{{ $('Log Final Video').item.json.final_output }}\",\n  \"caption\": \"{{ $json.output.youtube.description }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        352
      ],
      "id": "fb9004aa-18ff-4b6c-9d43-63046b834d0c",
      "name": "Send for Approval",
      "retryOnFail": true,
      "waitBetweenTries": 300,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate optimized titles and descriptions for social media platforms based on the video content",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role**: You are a social media content optimization AI that creates platform-specific titles and descriptions for viral video content.\n\n**Task**: Generate optimized titles and descriptions for YouTube Shorts, TikTok, and Instagram Reels based on the provided video content.\n\n**Input Data**:\n- Video Idea: \"{{ $('Log Final Video').first().json.idea }}\"\n- Caption: \"{{ $('Log Final Video').first().json.caption }}\"\n- Environment: \"{{ $('Log Final Video').first().json.environment_prompt }}\"\n\n**Requirements**:\n\n**YouTube Shorts**:\n- Title: 60 characters max, attention-grabbing, includes trending keywords\n- Description: 125 characters max, includes 3-5 relevant hashtags, call-to-action\n\n**TikTok**:\n- Title: 150 characters max, trendy language, includes viral phrases\n- Description: 300 characters max, includes 5-8 hashtags, engaging questions\n\n**Instagram Reels**:\n- Title: 125 characters max, aesthetic and engaging\n- Description: 200 characters max, includes 5-7 hashtags, story-driven\n\n**Output Format** (JSON):\n```json\n{\n  \"youtube\": {\n    \"title\": \"Short catchy title\",\n    \"description\": \"Brief description with hashtags #viral #shorts\"\n  },\n  \"tiktok\": {\n    \"title\": \"Trendy engaging title\",\n    \"description\": \"Longer description with hashtags and questions #fyp #viral\"\n  },\n  \"instagram\": {\n    \"title\": \"Aesthetic title\",\n    \"description\": \"Story-driven description #reels #satisfying\"\n  }\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2176,
        352
      ],
      "id": "2607a9ed-5111-4dc3-ac68-554b0f28678c",
      "name": "Generate Titles & Descriptions"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"youtube\": {\n    \"title\": \"Amazing Glass Cutting ASMR ✨\",\n    \"description\": \"Satisfying glass cutting sounds that will relax you #shorts #asmr #satisfying #viral #relax\"\n  },\n  \"tiktok\": {\n    \"title\": \"This glass cutting sound hits different 🔥\",\n    \"description\": \"POV: You found the most satisfying sound ever 😍 What's your favorite ASMR sound? #fyp #asmr #satisfying #viral #glasscut #oddlysatisfying #relaxing #trending\"\n  },\n  \"instagram\": {\n    \"title\": \"Glass cutting therapy ✨\",\n    \"description\": \"Sometimes you need those perfect cutting sounds to reset your mind 🧘‍♀️ #reels #asmr #satisfying #mindful #therapy\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1968,
        512
      ],
      "id": "9370ce83-546a-404c-b609-f9420f653e88",
      "name": "Title Description Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-approved",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        416
      ],
      "id": "45dab6f2-3136-48be-b644-db86c2fd9179",
      "name": "Video Approval Webhook",
      "webhookId": "video-approval-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.subscription_tier }}",
                    "rightValue": "free",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20108fa2-4af1-4816-92b7-fbfe34b3ec79"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "free"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0570b89c-5ff0-49a5-ae8e-ccddfb622961",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.subscription_tier }}",
                    "rightValue": "premium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "premium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22b80c45-ae13-4774-83f1-fea830617204",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.subscription_tier }}",
                    "rightValue": "pro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -624,
        384
      ],
      "id": "0ea236ac-8992-480d-bc81-d799f3bd110f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1024
      ],
      "id": "73acc154-906c-4335-9c84-ac4ad12c67c1",
      "name": "Upload to Tiktok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        224
      ],
      "id": "85377ede-5758-4a84-be14-8cd344b8318b",
      "name": "Upload to Instagram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        368
      ],
      "id": "8bbadf80-6fbf-470f-bfe1-93efc9643fbd",
      "name": "Upload to Facebook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        864
      ],
      "id": "5df6baac-c0bb-48e6-b938-511b97e7907c",
      "name": "Upload to Twitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        720
      ],
      "id": "35c296c4-ba27-46d2-abcb-36f371fc8022",
      "name": "Upload to Linkedin"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=media&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Approval Response Webhook').first().json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        528
      ],
      "id": "9c612bdf-58e3-4e3f-8f91-fb1f349d04f4",
      "name": "Upload to Threads"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Youtube",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "20108fa2-4af1-4816-92b7-fbfe34b3ec79"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22b80c45-ae13-4774-83f1-fea830617204",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d30648e1-a104-465d-850c-d03bd02ada47",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b39cdbd0-10d9-4eed-9b93-170ede2b54be",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Threads",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        368
      ],
      "id": "8bd4072f-9bce-45c1-bc90-e1f71d32bbba",
      "name": "Which Premium channels"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Youtube",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "20108fa2-4af1-4816-92b7-fbfe34b3ec79"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0570b89c-5ff0-49a5-ae8e-ccddfb622961",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22b80c45-ae13-4774-83f1-fea830617204",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d30648e1-a104-465d-850c-d03bd02ada47",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Threads",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0fb17933-4f80-4a5c-b7f5-08ddccf3117a",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bda17600-d90d-4c68-9183-19a524478985",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "X",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b39cdbd0-10d9-4eed-9b93-170ede2b54be",
                    "leftValue": "={{ $('Video Approval Webhook').item.json.body.selected_platforms }}",
                    "rightValue": "Tiktok",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiktok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        624
      ],
      "id": "4c34b5a9-5bdc-42ed-bfdd-090379487070",
      "name": "Which Pro Channels"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "status",
                "value": "complete"
              },
              {
                "name": "message",
                "value": "Upload completed successfully"
              },
              {
                "name": "video_id",
                "value": "={{ $('Download Video File1').item.json.body.video_idea_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        320
      ],
      "id": "48bcc935-22b2-4991-95f6-b811df7e5cee",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.idea }}\",\n    \"description\": \"{{ $json.caption }}\",\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        16
      ],
      "id": "0e1d9183-bbf2-46bd-939a-b7ff6ca1d12b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('HTTP Request2').item.json.headers.location }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Video Approval Webhook').item.json.body.social_accounts.youtube.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        0
      ],
      "id": "d1a76d70-e274-4bee-a89e-6596c48c1bf1",
      "name": "Upload to YouTube"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('Video Approval Webhook').item.json.body.social_accounts.youtube.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "d4aa81b1-d361-4a27-afad-992ff3cc9da4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII",
          "mode": "list",
          "cachedResultName": "Youtube Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "final_output",
              "lookupValue": "={{ $('Video Approval Webhook').item.json.body.video_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -176,
        48
      ],
      "id": "5aa903e6-c2b2-4409-906f-fd1317e86ef7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nXxJH0S9Zc7M0SRv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Video Approval Webhook').item.json.body.video_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ],
      "id": "e1079f8a-fab3-4973-a5d3-3b1948a01ac3",
      "name": "Download Video File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "mathew.kasbarian@gmail.com",
        "toEmail": "={{ $('Main Webhook').first().json.body.user_email }}",
        "subject": "=Your video \"{{ $('Main Webhook').first().json.body.video_idea }}\" is ready for approval",
        "html": "=<!DOCTYPE html>\n<html>\n  <body>\n    <p>Hi there!</p>\n\n    <p>Your video has been processed and is ready for your approval.</p>\n\n    <p>Please review and approve your video.</p>\n\n    <p>Best regards,<br>\n    ClipAndShip Team</p>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1584,
        336
      ],
      "id": "6de06e00-9ae9-43db-aa98-88549ede8c18",
      "name": "Send email1",
      "webhookId": "368efac9-f03e-4ff8-b8c7-b8b9eedd7df5",
      "credentials": {
        "smtp": {
          "id": "OeGPKAzjt6GagySO",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII",
          "mode": "list",
          "cachedResultName": "Youtube Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lv-_q7gVNO4Kq1UTI-Q9wnxfAh5Z-qli6z4sNyLGbII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "final_output": "={{ $json.body.video_url }}",
            "idea": "={{ $json.body.video_data.idea_text }}",
            "caption": "={{ $json.body.video_data.caption }}"
          },
          "matchingColumns": [
            "final_output"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sound_prompt",
              "displayName": "sound_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ready",
              "displayName": "Ready",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -912,
        416
      ],
      "id": "9647af59-8f36-47ab-a55c-c70420f3bdbc",
      "name": "Log Final Video2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nXxJH0S9Zc7M0SRv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.video_url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        416
      ],
      "id": "e4afb2b3-73eb-4365-a1ae-6c0a9dc99329",
      "name": "Download Video File1",
      "alwaysOutputData": false
    }
  ],
  "pinData": {
    "Main Webhook": [
      {
        "json": {
          "headers": {
            "host": "clipandshipproduction.app.n8n.cloud",
            "user-agent": "Deno/1.45.2 (variant; SupabaseEdgeRuntime/1.67.4)",
            "content-length": "348",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2600:1f11:743:d01:27c7:1b59:157e:8688",
            "cf-ew-via": "15",
            "cf-ipcountry": "CA",
            "cf-ray": "960fb663d067a30a-YUL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2600:1f11:743:d01:27c7:1b59:157e:8688, 162.158.127.146",
            "x-forwarded-host": "clipandshipproduction.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-13-6db466c7ff-svdn2",
            "x-is-trusted": "yes",
            "x-real-ip": "2600:1f11:743:d01:27c7:1b59:157e:8688"
          },
          "params": {},
          "query": {},
          "body": {
            "phase": "preview",
            "video_idea_id": "94b651f6-9733-40e5-9d06-1884516216fd",
            "video_idea": "adsdsadasd",
            "upload_targets": [
              "YouTube"
            ],
            "selected_platforms": [
              "YouTube"
            ],
            "social_accounts": {},
            "use_ai_voice": true,
            "voice_file_url": null,
            "user_email": "mathew.kasbarian@gmail.com",
            "test_api_key": "https://clipandship.app.n8n.cloud/webhook-test/video-generation"
          },
          "webhookUrl": "https://clipandshipproduction.app.n8n.cloud/webhook/video-generation",
          "executionMode": "production"
        }
      }
    ],
    "Video Approval Webhook": [
      {
        "json": {
          "headers": {
            "host": "clipandshiptest.app.n8n.cloud",
            "user-agent": "Supabase-Functions",
            "content-length": "514",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2600:1f11:743:d02:4fe1:4dad:853b:b58b",
            "cf-ew-via": "15",
            "cf-ipcountry": "CA",
            "cf-ray": "96a3ca99b534a294-YUL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2600:1f11:743:d02:4fe1:4dad:853b:b58b, 162.158.126.246",
            "x-forwarded-host": "clipandshiptest.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-6-58b64db885-7b65l",
            "x-is-trusted": "yes",
            "x-real-ip": "2600:1f11:743:d02:4fe1:4dad:853b:b58b"
          },
          "params": {},
          "query": {},
          "body": {
            "title": "Donuts rain from a glitched sky onto pixelated jelly creatures dancing.",
            "caption": "Glitch donut rain in pixel world! 🍩 #adsdsadasd #absurd #randomness #weird #love #instagood #fun #explorepage #viral #trending #wtf #genzcore",
            "video_url": "https://v3.fal.media/files/penguin/tlr-UihXnYKutc7EA0gAo_output.mp4",
            "use_ai_voice": true,
            "voice_file_url": null,
            "is_demo": true,
            "demo_mode": true,
            "platforms": [
              "youtube"
            ],
            "request_id": "894abe4e-1273-44ed-91fd-5140600f66e6",
            "submitted_at": "2025-08-05T05:11:01.321Z"
          },
          "webhookUrl": "https://clipandshiptest.app.n8n.cloud/webhook/video-approved",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Title Description Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Titles & Descriptions2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Titles & Descriptions2": {
      "main": [
        [
          {
            "node": "Send for Approval1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Approval1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Webhook": {
      "main": [
        [
          {
            "node": "Log Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unbundle Prompts": {
      "main": [
        [
          {
            "node": "Create Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sounds": {
      "main": [
        [
          {
            "node": "Wait for Sounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Sounds": {
      "main": [
        [
          {
            "node": "Get Sounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ideas AI Agent": {
      "main": [
        [
          {
            "node": "Log the Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Titles & Descriptions2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Titles & Descriptions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ideas AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompts AI Agent": {
      "main": [
        [
          {
            "node": "Unbundle Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sounds": {
      "main": [
        [
          {
            "node": "List Elements1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Clips": {
      "main": [
        [
          {
            "node": "Wait for Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Clips": {
      "main": [
        [
          {
            "node": "Get Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clips": {
      "main": [
        [
          {
            "node": "Create Sounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Elements1": {
      "main": [
        [
          {
            "node": "Sequence Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequence Video1": {
      "main": [
        [
          {
            "node": "Wait for Final Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video1": {
      "main": [
        [
          {
            "node": "Log Final Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Final Video1": {
      "main": [
        [
          {
            "node": "Get Final Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Final Video1": {
      "main": [
        [
          {
            "node": "Generate Titles & Descriptions2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log the Idea1": {
      "main": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Titles & Descriptions": {
      "main": [
        [
          {
            "node": "Send for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Description Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Titles & Descriptions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Log Final Video": {
      "main": [
        [
          {
            "node": "Generate Titles & Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Approval Webhook": {
      "main": [
        [
          {
            "node": "Download Video File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Which Premium channels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Which Pro Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Tiktok": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Instagram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Facebook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Twitter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Linkedin": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Threads": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Premium channels": {
      "main": [
        [],
        [
          {
            "node": "Upload to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Pro Channels": {
      "main": [
        [],
        [
          {
            "node": "Upload to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Threads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload to Tiktok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Download Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Approval": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Final Video2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File1": {
      "main": [
        [
          {
            "node": "Log Final Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84a7bff9-dcf4-4200-bd05-861e9cebceaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af26f311309643b6edff3d2ac0d90a1c3ad43f1ece6b6dad5d833424d56daa36"
  },
  "id": "zbAYZiL51HhegyDX",
  "tags": []
}